/* main selectors */
body {
    background-color: #80aab0;
    color: white;
    font-family: Garamond;
}
h1 {
    font-size: 5em;
    padding: 0px;
    margin: 100px 0px 50px 0px;
}
h2 {
    font-size: 3em;
    padding: 0px;
    margin: 0px;
}
p {
    font-size: 1.5em;
    font-weight: bold;
}
a,
a:visited,
a:active {
    color: #b84451;
    text-decoration: none;
}
a:hover {
    text-decoration: 1px dotted underline;
}
footer {
    text-align: center;
    margin: 20px 20px;
}
/* class selectors */
.wrapper {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding: 20px 20px;
}
.signature-right {
    text-align: right;
}
.glowing-hover {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
.glowing-hover:hover,
.glowing-hover.glow {
    text-shadow: 0 0 10px red;
}
.arrow {
    border: solid #b84451;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 3px;
    margin: 200px 0px 100px 0px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.individual-message h2 {
    padding: 30px 0px 0px 0px;
    margin: 30px 30px;
}
.individual-message p {
    text-align: left;
}
